.about {
  min-height: 1470px;
  position: relative;
  background-color: #202027;
  
}

.about-stars {
  
  &__1 {
    position: absolute;
    top: 48.12rem;
    left: 1.56rem;
  }
  
  &__2 {
    position: absolute;
    top: 51.38rem;
    left: 2.5rem;
  }
  
  &__3 {
    position: absolute;
    top: 4.81rem;
    right: -8.91rem;
  }
}

.about-wrapper {
  position: relative;
  z-index: 2;
  padding-bottom: 3.125rem;
}

.about-desc {
  max-width: 788px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding-top: 94px;
  padding-bottom: 72px;
  
  &__title {
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  &__text {
    max-width: 788px;
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
  }
}

.about-content {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: span 4;
  }
  
  &__item {
    background-color: #fff;
    max-width: 378px;
    height: 473px;
    border-radius: 30px;
  }
  &__item:hover {
    transform: scale(1.10);
    transition: 0.5s all;
    cursor: pointer;
  }
  
  &__item_big {
    min-height: 551px;
  }
  
  &__item_middle {
    min-height: 512px;
  }
  
  &__item img {
    max-width: 100%;
    border-radius: 30px;
  }
  
  &__desc {
    display: flex;
    padding: 32px 32px 36px 32px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
  }
  
  &__btn {
    font-weight: 500;
    line-height: 110%;
    font-size: 1rem;
    display: flex;
    padding: 8px 16px 10px 16px;
    align-items: center;
    border-radius: 52.582px;
    background: #F7F7F7;
    color: #202027;
  }
  
  &__text {
    color: #202027;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}