.top {
  overflow: hidden;
  background-color: #E1FF8F;
  position: relative;
  height: 800px;

}

.top-stars {
  &__5 {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
  }

  &__3 {
    position: absolute;
    right: 455px;
    bottom: 225px;
  }

  &__4 {
    position: absolute;
    right: 344px;
    bottom: 179px;
  }

  &__2 {
    position: absolute;
    left: 156px;
    top: 69px;
  }

  &__1 {
    position: absolute;
    left: 63px;
    top: 94px;
  }

  &__mobile {
    display: none;
  }

}

.top-wrap {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 769px;
  padding-top: 196px;
}

.top-content {
  display: flex;
  gap: 24px;
  flex-direction: column;

  &__title h1 {
    color: #202027;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

  }

  &__text p {
    color: #202027;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }
}

.top-button {
  cursor: pointer;
  box-sizing: border-box;
  width: 15.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.0rem 1.8rem;
  background: #202027;
  border: 1px solid #202027;
  border-radius: 60px;
  gap: 10px;
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 141.688%;

  &:hover {
    background: #fff;
    color: #000;
  }

  &_mobile {
    display: none;
  }
}

.top-line {
  box-sizing: border-box;
  padding: 27px 49px;
  position: absolute;
  bottom: 0;
  left: -30px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: #BCEC30;
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 51px;
  animation: marquee 5s infinite;

  &__text {
    white-space: nowrap;
    color: #202027;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;

  }

  &__star {
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-54%);
  }
}